{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class = "container">
    <div class="row">
        <div class = "col-md-8 mt-3 offset-md-2 text-center">
            <h4>{% trans "Sign Out" %}</h4>

            <p>{% trans 'Do you want to sign out? Click <strong>Sign Me Out Now</strong> below' %}</p>
        </div>
    </div>
</div>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class ="col text-center">
    <button class="btn btn-signup btn-default" type="submit">{% trans 'Sign Me Out Now' %}</button>
  </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            <p>{% trans 'Want to go back? Click <strong>Take Me Back Now</strong>  below' %}</p>
        </div>
    </div>
</div>

<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="col text-center">
        <button class="btn btn-signup btn-default" type="submit">{% trans 'Take Me Back Now' %}</button>
    </div>
</form>

{% endblock content %}
