{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class ='masthead'>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="post-subtitle">{{ post.first_name }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                { if 'placeholder' in post.featured_image.url}
                <img src="{% static 'images/default_image.jpg' %}" width="100%" />
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card-mb4 mt3 left top">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <!-- <strong>
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong> -->
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary">
                            <i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4">
            <h3>
                Comments:
            </h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding:10px">
                    <p class="font-weight-bold">
                        {{ comment.first_name}}
                        <span class="text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks}}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <!-- add later -->
                {% if commented %}
                <div class="alert alert-info" role="alert">
                    Your comment has been sent to the moderator for approval.
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Post a comment!</h3>
                <p>Writing as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">SUBMIT</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}